DISCORD_TOKEN_BETBOT=  discord token for prod bot
DISCORD_TOKEN_TESTBOT=  discord token for test bot

IS_LOCAL=true if local, false if in prod

BETBOT_BACKEND_URL_LOCAL= local url for database api
BETBOT_BACKEND_URL_PROD= prod url for database ap
BETBOT_BACKEND_KEY= api key for backend api

UFC_API_URL_LOCAL= local url for ufc api
UFC_API_URL_PROD= prod url for ufc api
UFC_API_KEY= api key for backend api